@*
    view when account is locked
*@
@{
}
<h3 class="text-danger">
    Kasutaja on lukustatud, proovige hiljem uuesti
    või <a asp-action="ForgotPassword" asp-controller="Accounts">lähtesta oma salasõna</a>.
</h3>