@*
    View incase you forgot password
*@
@{
}
@model CatGacha.Models.Accounts.ForgotPasswordViewModel

<h2>Taasta Salasõna</h2>
<hr />
<p class="text-info">
    Siin saad taastada oma salasõna juhuks kui see ununenud on.
    Sisesta palun oma emailiaadress mille kasutaja loomisel kasutasid:
    Kui meil on kasutaja selle emailiaadressiga, saadame sulle kirja 
    juhistega parooli ja kasutajale juurdepääsu taastamiseks.
</p>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecoveryEmail"></label>
                <input asp-for="RecoveryEmail" class="form-control"></input>
                <span asp-validation-for="RecoveryEmail" class="text-danger"></span>
            </div>
            <button type="submit"
                    class="btn btn-primary"
                    style="width:auto">
                Saada Email
            </button>
        </form>
    </div>
</div>