@*
    view to confirm that reset is successful
*@
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

<h4>
    Salasõna on lähtestatud! :3 Palun vajuta <a asp-action="Login">siia UwU</a>, et sisse logida.
</h4>
