@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CatGacha temporary design document</h1>
    <p>
        Gachapon mäng

        Andmebaasitabel (ERD): <br />
        <img src="../ERD.jpg"/> <br />
    </p>
    <table>
        <thead>
            <tr>
                <th>Etapp</th>
                <th>Eesmärk</th>
                <th>Saavutatus</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Teha andmebaas kasutaja, Cat ja Omamise kohta</td>
                <td>Ei</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Mudelid</td>
                <td>Ja</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Vaated</td>
                <td>Ei</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Kontrollerid (User, Cat)</td>
                <td>Ei</td>
            </tr>

        </tbody>
    </table>
</div>
